<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
    <title>Applications to FSU CS Graduate Programs</title>

    <link rel="stylesheet" type="text/css" href="/resources/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/resources/simple.css">

    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="/resources/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/resources/local.js"></script>

    <script type="text/javascript" language="javascript" class="init">
        function style_links() {
            $.ajax({
                type: "GET",
                url: "/file/" + {{ applicant_id }},
                dataType: "text",
                complete: function (data) {
                    function style_link(listing, name, desc) {
                        var td_name = "#td_" + name;

                        if (!listing.includes(name)) {
                            $(td_name).html("None");
                        }
                    }

                    var listing = data.responseText;
                    toast("The applicant has submitted: " + listing);
                    style_link(listing, "resume", "resume");
                    style_link(listing, "ps", "statement");
                    style_link(listing, "ug_trans", "UG Trans");
                    style_link(listing, "grad_trans", "Grad Trans");
                    style_link(listing, "toefl", "TOEFL");
                    style_link(listing, "gre", "GRE");
                    style_link(listing, "letter1", "Letter 1");
                    style_link(listing, "letter2", "Letter 2");
                    style_link(listing, "letter3", "Letter 3");
                    style_link(listing, "letter4", "Letter 4");
                    style_link(listing, "other1", "Other 1");
                    style_link(listing, "other2", "Other 2");
                }
            });
        }

        $(document).ready(function () {
            fields = facts_app();

            // DataTable
            var table = $('#comments').DataTable({
                "searching": false,
                "scrollY": "28em",
                "scrollCollapse": false,
                "paging": false,
                "info": false,
                "ajax": {
                    "url": "/comment/{{applicant_id}}",
                    "dataSrc": ""
                },

                "columns": [
                    {
                        "data": "comment_id",
                        "visible": false,
                    },
                    {
                        "data": "applicant_id",
                        "visible": false,
                    },
                    {
                        "data": "commenter",
                        "width": "25%",
                        "className": "dt-body-right",
                        "render": function (data, type, row, meta) {
                            return '<div><b>' + data + ':</b></div> <div><small>' + row["when"] + '</small></div>';
                        }
                    },
                    {
                        "data": "opinion",
                        "render": function (data, type, row, meta) {
                            return '<p>' + data.replace(/\n/g, '<br>\n') + '</p>';
                        }
                    },
                    {
                        "data": "when",
                        "visible": false
                    }
                ],
                "order": [[0, 'desc']],
            });

            style_links();

            $("a.lnk").click(function (evt) {
                evt.preventDefault();
                toast(evt.target["href"]);
                $("#pdf_content").attr('data', evt.target["href"]);
            });

            $("#btn_new").click(function () {
                var json_obj = {};

                json_obj.comment_id = 0;
                json_obj.applicant_id = {{ applicant_id }};

                json_obj.commenter = $("#input_commenter").val().trim();
                json_obj.opinion = $("#input_opinion").val().trim();
                json_obj.when = "now";

                if (json_obj.commenter.length <= 0) {
                    toast("Commenter cannot be empty!");
                    return;
                } else if (json_obj.opinion.length <= 0) {
                    toast("Opinion cannot be empty!");
                    return;
                }

                var json = JSON.stringify(json_obj);
                $.ajax({
                    type: "POST",
                    url: "/comment/{{applicant_id}}",
                    data: json,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (jq, status) { toast(status); table.ajax.reload(); }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-3" style="border-right: 1px solid lightgray;">
                <h3>Application {{applicant_id}}:</h3>
                <hr/>
                <div class="info">
                    <table id="tbl_info">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <b>Basic Information:</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">Employee ID:</td>
                                <td class="td_info">{{emp_id}}</td>
                                <td class="td_tag">Applicant ID:</td>
                                <td class="td_info">{{applicant_id}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Name:</td>
                                <td class="td_info">{{name}}</td>
                                <td class="td_tag">Gender:</td>
                                <td class="td_info">{{gender}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Country:</td>
                                <td class="td_info" colspan="3">{{country}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Program:</td>
                                <td class="td_info">{{program}}</td>
                                <td class="td_tag">Degree:</td>
                                <td class="td_info">{{degree}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Interests:</td>
                                <td class="td_info" colspan="3">{{interests}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">UG University:</td>
                                <td class="td_info" colspan="3">{{ug_university}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">UG Major:</td>
                                <td class="td_info" colspan="3">{{ug_major}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">UG Degree:</td>
                                <td class="td_info">{{ug_degree}}</td>
                                <td class="td_tag">UG GPA:</td>
                                <td class="td_info">{{ug_gpa}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Grad University:</td>
                                <td class="td_info" colspan="3">{{grad_university}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Grad Major:</td>
                                <td class="td_info" colspan="3">{{grad_major}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Grad Degree:</td>
                                <td class="td_info">{{grad_degree}}</td>
                                <td class="td_tag">Grad GPA:</td>
                                <td class="td_info">{{grad_gpa}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">TOEFL/IELTS:</td>
                                <td class="td_info">{{toefl_ielts}}</td>
                                <td class="td_tag">GRE:</td>
                                <td class="td_info">{{gre}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Decision:</td>
                                <td class="td_info" colspan="3">{{decision}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">Advisor:</td>
                                <td class="td_info">{{advisor}}</td>
                                <td class="td_tag">Assistantship:</td>
                                <td class="td_info">{{assistantship}}</td>
                            </tr>
                            <tr>
                                <td class="td_tag">FTE:</td>
                                <td class="td_info">{{fte}}</td>
                                <td class="td_tag">Salary:</td>
                                <td class="td_info">{{yearly_amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <b>Supporting Materials:</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">Resume:</td>
                                <td class="td_info" id="td_resume">
                                    <a class="lnk" href="/file/{{applicant_id}}/resume">open</a>
                                </td>
                                <td class="td_tag">Statement:</td>
                                <td class="td_info" id="td_ps">
                                    <a class="lnk" href="/file/{{applicant_id}}/ps">open</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">UG Trans:</td>
                                <td class="td_info" id="td_ug_trans">
                                    <a class="lnk" href="/file/{{applicant_id}}/ug_trans">open</a>
                                </td>
                                <td class="td_tag">Grad Trans:</td>
                                <td class="td_info" id="td_grad_trans">
                                    <a class="lnk" href="/file/{{applicant_id}}/grad_trans">open</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">TOEFL:</td>
                                <td class="td_info" id="td_toefl">
                                    <a class="lnk" href="/file/{{applicant_id}}/toefl">open</a>
                                </td>
                                <td class="td_tag">GRE:</td>
                                <td class="td_info" id="td_gre">
                                    <a class="lnk" href="/file/{{applicant_id}}/gre">open</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">Letter 1:</td>
                                <td class="td_info" id="td_letter1">
                                    <a class="lnk" href="/file/{{applicant_id}}/letter1">open</a>
                                </td>
                                <td class="td_tag">Letter 2:</td>
                                <td class="td_info" id="td_letter2">
                                    <a class="lnk" href="/file/{{applicant_id}}/letter2">open</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">Letter 3:</td>
                                <td class="td_info" id="td_letter3">
                                    <a class="lnk" href="/file/{{applicant_id}}/letter3">open</a>
                                </td>
                                <td class="td_tag">Letter 4:</td>
                                <td class="td_info" id="td_letter4">
                                    <a class="lnk" href="/file/{{applicant_id}}/letter4">open</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tag">Other 1:</td>
                                <td class="td_info" id="td_other1">
                                    <a class="lnk" href="/file/{{applicant_id}}/other1">open</a>
                                </td>
                                <td class="td_tag">Other 2:</td>
                                <td class="td_info" id="td_other2">
                                    <a class="lnk" href="/file/{{applicant_id}}/other2">open</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xl-3" style="border-right: 1px solid lightgray;">
                <div id="snackbar">Error message here..</div>
                <div>
                    <h3>Comments:</h3>
                    <hr/>
                    <table id="comments" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Comment ID</th>
                                <th>Applicant ID</th>
                                <th>Commenter</th>
                                <th>Opinion</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100</td>
                                <td>200</td>
                                <td>Zhi Wang</td>
                                <td>
                                    Florida State University preserves, expands, and disseminates knowledge in the sciences, technology, arts, humanities, and
                                    professions, while embracing a philosophy of learning strongly rooted in the traditions
                                    of the liberal arts.
                                </td>
                                <td>today</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <p style="white-space: pre" />
                <div>
                    <h3>New Comment:</h3>
                    <hr/>
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="input_commenter">Commenter:</label>
                                <input type="text" class="form-control" id="input_commenter" placeholder="Your name here!">
                            </div>
                            <div class="form-group">
                                <label for="input_comments">Opinion:</label>
                                <textarea class="form-control" id="input_opinion" rows="8" placeholder="Always assume your comments will become public!"></textarea>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary" id="btn_new">Submit</button>'
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div id="pdf">
                    <object width="800px" height="1000px" type="application/pdf" data="/file/{{applicant_id}}/resume" id="pdf_content">
                        <p>The file is missing!</p>
                    </object>
                </div>
            </div>
        </div>
    </div>
</body>

</html>